config.nice
*Makefile.in
autom4te.cache/
config.guess
config.sub
configure
depcomp
install-sh
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing
*.deps/
*.libs/
*Makefile
config.log
config.status
aclocal.m4
libtool
COPYING
INSTALL
*.o
src/shell
